*{
    margin: 0;
    padding: 0;
}

.body__wrapper{
    height: 100vh;
    width: 100vw;
    position: relative;
    background: url("./img/waterford_texture.jpg");
}

.header{
    position: absolute;
    height: 70px;
    width: 100%;
    background-color:teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > div{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.header > div > img{
    height: 80%;
    margin-right: 20px;
}

.header > div > span{
    font-size: 45px;
    color: white;
    font-family: cursive;

}
.header > button{
    height: 60px;
    width: 60px;
}
button{
    height: 90%;

    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    margin-right: 20px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header > button > img{
    height: 80%;
    align-items: center;

}

.header > button:hover{
    background-color:rgb(1, 105, 105);

}

.header > button:active{
    background-color: teal;
}

.sticker{
    width: 200px;
    height: 150px;
    background-color:rgb(248, 248, 85);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /**/
    position: absolute;
    top: 50%;
    left: 50%;
    /**/
    
}

.sticker > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    padding: 2px;
}

.sticker > nav > div{
    height: 100%;
    width: 20px;
}

.sticker > nav > div >  button > img{
    height: 100%;
    width: 20px;
}

.sticker input{
    background-color: rgb(248, 248, 85);
    font-family: cursive;
    width: calc(100% - 30px);
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

.sticker > textarea{
    outline: none;
    border: none;
    font-family: cursive;
    height: 100%;
    overflow: none;
    resize: vertical;
    margin: 2px;
    background-color:rgb(248, 248, 85);
    line-height: 20px;
}
